.asset_interest {
    margin: 1em 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.asset_interest > div {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.asset_interest img {
    width: 2em;
    height: 2em;
}

.asset_interest h4, .asset_interest h5, .asset_interest p {
    padding: 0;
    margin: 0;
}

/* WHO */

.asset_interest > div:nth-child(1) {
    padding: 1em;
}

/* SINCE */

.asset_interest > div:nth-child(2) {
    padding: 0 2em;
}

/* NOTE */

.asset_interest > div:nth-child(3) {
    padding: 1em 0;
    flex-grow: 1;
    align-items: start;
}

.asset_interest > div:nth-child(3) p {
    list-style: circle;
}

.asset_interest ul {
    margin: 0;
}